.main {
  min-height: 100svh;
  background: linear-gradient(rgba(30, 30, 30, 1), rgba(65, 105, 225, 0.8));
  padding: var(--padding-main);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.main a {
  color: var(--white);
  font-weight: 300;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  text-align: center;
  color: var(--white);
}
.header h2 span {
  color: var(--color-secondary);
}
.header img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.loginbox form {
  min-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.loginbox form input {
  padding: 0.75rem 1rem;
  width: 350px;
  border: none;
  border-radius: var(--border-rad);
  color: var(--black);
}
